html,body,#main {height:100%;}

body {font-family:sans-serif;margin:0;}
body.dark {background:#222;color:#eee;}

#main {
    display:flex;
    align-items:center;
    justify-content:center;
}

form input {
    padding:10px;
    font-size:16px;
    border-radius:4px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    transition:400ms ease;
    background:#eee;
}
.dark form input {background:#444;color:#eee;}

form input[type='text'] {border:5px #eee solid;}
form input[type='text']:hover {border-color:#ccc;}
form input[type='text']:focus {outline:none;border-color:#aaa;}

.dark form input[type='text'] {border-color:#444;}
.dark form input[type='text']:hover {border-color:#666;}
.dark form input[type='text']:focus {border-color:#888;}

form input#go {display:none;}


